<!-- #Top Bar -->
<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img *ngIf="user" src="{{ user.photoUrl }}" width="48" height="48" alt="User">
            <img *ngIf="!user" src="assets/images/user.png" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div *ngIf="user">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.name }}</div>
                <div class="email">{{ user.email }}</div>
            </div>
            <div *ngIf="!user">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Convidado</div>
            </div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                    <li role="seperator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                    <li role="seperator" class="divider"></li>
                    <li *ngIf="user" (click)="signOut()"><a><i class="material-icons">input</i>Sair</a></li>
                    <li *ngIf="!user" routerLink="login"><a><i class="material-icons">input</i>Entrar</a></li>
                </ul>
            </div>
      </div>
  </div>
  <!-- #User Info -->
  <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">Navegação Principal</li>
            <li routerLinkActive="active">
                <a routerLink="/principal">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/manter-pecas">
                    <i class="material-icons">search</i>
                    <span>Pesquisa de Peças</span>
                </a>
            </li>
        </ul>
    </div>
        <div role="tabpanel" class="tab-pane fade" id="settings">
            <div class="demo-settings">
                <p>GENERAL SETTINGS</p>
                <ul class="setting-list">
                    <li>
                        <span>Report Panel Usage</span>
                        <div class="switch">
                            <label><input type="checkbox" checked><span class="lever"></span></label>
                        </div>
                    </li>
                    <li>
                        <span>Email Redirect</span>
                        <div class="switch">
                            <label><input type="checkbox"><span class="lever"></span></label>
                        </div>
                    </li>
                </ul>
                <p>SYSTEM SETTINGS</p>
                <ul class="setting-list">
                    <li>
                        <span>Notifications</span>
                        <div class="switch">
                            <label><input type="checkbox" checked><span class="lever"></span></label>
                        </div>
                    </li>
                    <li>
                        <span>Auto Updates</span>
                        <div class="switch">
                            <label><input type="checkbox" checked><span class="lever"></span></label>
                        </div>
                    </li>
                </ul>
                <p>ACCOUNT SETTINGS</p>
                <ul class="setting-list">
                    <li>
                        <span>Offline</span>
                        <div class="switch">
                            <label><input type="checkbox"><span class="lever"></span></label>
                        </div>
                    </li>
                    <li>
                        <span>Location Permission</span>
                        <div class="switch">
                            <label><input type="checkbox" checked><span class="lever"></span></label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</section>